@using CarInsuranceMVC.ViewModels
@model List<GetQuoteVm>
<div class="bg-info"></div>
<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-1g-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Generated Insurance Quotes</h5>
        </div>
        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    First Name
                </div>
                <div class="col">
                    Last Name
                </div>
                <div class="col text-capitalize">
                   Email Address
                </div>
                <div class="col">
                    Reported Quote
                </div>
              </div>

                @foreach (var user in Model)
                {

                    {

                        <div class="row mb-2">
                            <div class="col">
                                @user.FirstName
                            </div>
                            <div class="col">
                                @user.LastName
                            </div>
                            <div class="col">
                                @user.EmailAddress
                            </div>
                            <div class="col">
                                $@user.EstimatedQuote
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        </div>
