<div class="jumbotron jumbotron-fluid">
    <div class="no-gutters m-3">
        <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow bg-info">
            <div class="card-header text-center bg-primary"">
                <h5 class="m-0">Get Your Auto Insurance Quote</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("GetQuote", "Home", FormMethod.Post))
                {
                    <div class="row no-gutters">
                        <div class="form-group col-md-12">
                            <input name="FirstName" type="text" class="form-control bg-light" placeholder="First Name" maxlength="50" required />
                        </div>
                        <div class="form-group col-md-12">
                            <input name="LastName" type="text" class="form-control bg-light" placeholder="Last Name" maxlength="50" required />
                        </div>
                        <div class="form-group col-md-12">
                            <input name="EmailAddress" type="email" class="form-control  bg-light" placeholder="Email Address" maxlength="100" required />
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="bg-light" name="CarMake" placeholder="Car Make" maxlength="20" required />
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" class="bg-light" name="CarModel" placeholder="Car Model" maxlength="20" required />
                        </div>
                        <div class="form-group col-md-12">
                            <input type="number" class="bg-light" name="CarYear" placeholder="Car Year" min="1920" required />
                        </div>
                        <div class="form-group col-md-12">
                            <h5>Enter your Birthday </h5>
                            <input type="date" name="Birthday" required />
                        </div>
                        <div class="form-group col-md-12">
                            <h5>Have you ever had a DUI? </h5>
                            <input name="Dui" type="radio" value="yes" />Yes
                            <input name="Dui" type="radio" value="no" required />No
                        </div>
                        <div class="form-group col-md-12">
                            <input type="number" name="Ticket" placeholder="Enter # of speeding Tickets" min="0" required />
                        </div>
                        <div class="form-group col-md-12">
                            <h5>Please check </h5>
                            <input name="Coverage" type="radio" value="Full Coverage" required />Full Coverage
                            <input name="Coverage" type="radio" value="Liability" />Liability
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success">Get a quote </button>
                }
            </div>
        </div>
    </div>
</div>